.mylogo {transition: all 200ms ease 0s;}
.mylogo:hover {
	filter: grayscale(1);
	transform: scale(1.1);
}

.fl {
	display:flex; 
	justify-content:right;
	align-content: center;
} 

.kepala {width: 100%;}



section.poli div.bimo {
	font-size: 600px;
}